* {
  background: #F8ECEC;
  color: #000000;
}

.header {
  background: #F8ECEC;
  color: #DB2D2D;
  font-family: Optima, sans-serif;
  font-size: 100px;
  /* padding: ; */

}

.header h6 {
  /* background: #F8ECEC; */
  color: #000000;
  font-family: copperplate, fantasy;


  /* text-align: center; */
}

.title h1 {
    font-size: 55px;
    color: #DB2D2D;
    font-family: Optima, sans-serif;
    padding: 1em;
}

.panel-footer {
  margin: 0;
  padding: 0;
  background: #F8ECEC;
  color:#DB2D2D;
}

.body { padding-bottom: 120px; }
