* {
  background: #fdfcf5;
  color: #673c48;
}

.header {
  background: #F4ACB7;
  color: #673c48;

  font-family: 'Abril Fatface', serif;

}

.header h4 {
  background: #F4ACB7;
  color: #673c48;
}

.panel-footer {
  margin: 0;
  padding: 0;
  background: #F4ACB7;
  color:#673c48;
}

.body { padding-bottom: 120px; }