* {
  background: #F8ECEC;
  color: #000000;
}

.header {
  background: #F8ECEC;
  color: #DB2D2D;

  font-family: '';
  font-size: 100px;
  /* padding: ; */

}

.header h4 {
  /* background: #F8ECEC; */
  color: #000000;
  /* text-align: center; */
}

.title h1 {
    font-size: 55px;
    font-family: 'Lalezar';
    padding: 1em;
}

.panel-footer {
  margin: 0;
  padding: 0;
  background: #F8ECEC;
  color:#DB2D2D;
}

.body { padding-bottom: 120px; }
